<h1>Hi, <%= @booking.user.full_name.split.first %></h1>
<p>
  Thank you for joining my event! Here are the details:
</p>
<p>
  Date: <%= @booking.meeting.show_start_time %><br/>
  Duration: <%= @booking.meeting.duration %> mins<br/>
</p>
<p>
  BN Apps Team
</p>